html {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 0px;
    background: url('../img/back-top.png');
    background-repeat: repeat-x;
    margin: 0px;
    min-height: 100%;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: none;
    background-repeat: repeat-x;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 4px;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .brand {
    display: none;
}

.navbar .nav > li > a {
    color: #ffffff;
    text-shadow: 0 1px 0 #777777;
}

.navbar .nav > li > a:hover {
    color: #BBBBBB;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #ffffff;
    height: 32px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input, button, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: transparent;
    background-image: linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -o-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(106, 168, 167)), color-stop(0.6, rgb(119, 185, 184)));
}

.btn-primary:hover {
    background-color: #70A3A2;
}

.modal-header h3 {
    color: #BBBBBB;
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.2em;
    padding: 15px 0px;

}
/*----- modal ------*/



.modal.fade.in {
    top: 30px;
}

.modal {
    display: block;
    bottom: 30px;
    right: 30px;
    left: 30px;
    width: auto;
    margin-left: 0;
}

.modal-body{
    overflow: auto;
    top: 76px;
    bottom: 60px;
    position: absolute;
}

.modal-header{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    background: #fff;
    border-radius: 6px;

}

.modal-footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

input, textarea, .uneditable-input {
    width: 40%;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
left: 130px;
}
.bootstrap-select.btn-group[class*="span"] .btn {
width: 211%;
}
.modal-body {
max-height: none;}
/*----- modal end ------*/

/*
.form-horizontal .control-label {
    color: #77b9b8;
    font-weight: 700;
}

.span2 {
    width: 165px;
}



.form-horizontal .control-label {
    width: 85px;
}

.form-horizontal .controls {
    margin-left: 85px;
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    margin-left: 90px;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-color: transparent;
    background-image: linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -o-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(106, 168, 167) 19%, rgb(119, 185, 184) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, rgb(106, 168, 167)), color-stop(0.6, rgb(119, 185, 184)));
}
*/
#headLogo {
    text-align: center;
}

#footer {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 11px;
    padding: 100px 0px 50px 0px;
    background: transparent;
    margin: 0 auto;
}

#new_session_btn {
    text-align: right;
}

#head {
    margin-bottom: 14px;
}

#wrap {
    margin: 0 auto;
    padding-top: 30px;
}

.ordered-header {
    cursor: pointer;
}

.ordered-header {
    color: #7C7C7C;
    font-family: Georgia, serif;
    font-weight: normal !important;
    font-size: 18px;
}

.pager li > a, .pager li > span {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #34A5A2;
}

.table {
    margin-top: 20px;
}

.table tbody tr.warning > td {
    background-color: #dddddd;
}

.table-hover tbody tr.warning:hover > td {
    background-color: #cccccc;
}

.table tbody tr > td, .table tbody tr > th {

}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {

}


.dropdown-menu[aria-labelledby="drop1"] a{
    cursor: pointer;
    text-transform:capitalize;
}
