{% extends 'admin/master.html' %}
{% block head_css %}
    {{ super() }}
    <link rel=StyleSheet href="/static/css/style.css" type="text/css" 
          media=screen>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

   <div class="row" id="head">
        <div class="span5" id="headLogo"><img src="/static/img/logo.png"></div>
        <div class="span7">&nbsp;</div>
   </div>

    <div class="row" id="wrap">
        <div class="container" ng-app="ardx_app">
            {% block angular_content %}
            {% endblock %}
        </div>
    </div>

    <div class="row" id="footer">

    </div>

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-strap.min.js"></script>
    <script src="/static/js/lib/bootstrap-timepicker.js"></script>
    <script src="/static/js/lib/bootstrap-datepicker.js"></script>
    <script src="/static/js/lib/bootstrap-select.js"></script>

    <script type="text/javascript" src="/static/js/angular/ardx.js"></script>
    <script type="text/javascript" src="/static/js/angular/services.js"></script>
    <script type="text/javascript" src="/static/js/angular/directives.js"></script>

    <script src="https://apis.google.com/js/client.js?onload=api_init"></script>

{% endblock %}
